.nav, .navItems {
  display: flex;
}

.nav {
  width: 70%;
  font-size: 1.5em;
  justify-content: space-between;
  align-items: center;
}

.navItems {
  width: 30%;
  justify-content: space-between;
}
